/* fonts */




/* colours */
.bgpink{
    background-color: pink;
}
.bgwhite{
    background-color: #FFF8F6;
}
li:hover{
    background-color: rgb(211, 211, 211);
    color: white;
    transition: 0.15s;
    cursor: pointer;
}


nav{
    width: 80%;
}
/* width */

/* height */
.h64{
    height: 64px;
}
.hfull{
    height: 100%;
}
/* margin */
.mauto{
    margin: auto;
}
.m-x20{
    margin-left: 20px;
    margin-right: 20px;
}
/* padding */
.p-x10{
    padding-left: 10px;
    padding-right: 10px;
}

/* center items */
.centeritems{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerhorizontally{
    display: flex;
    align-items: center;
}
/* flexbox and grid */
.flex{
    display: flex;
}
.spacebetween{
    justify-content: space-between;
}
/* button */
.navbutton{
    border: none;
    background-color: transparent;
}

/* Mobile */
@media (max-width: 480px){
    /* styles */
    nav{
        width: 100vw;
    }
    .navlinks{
        display: none;
    }
}
/* Extra small devices */
@media (min-width:481px) and (max-width: 767px){
    /* styles */
    nav{
        width: 100vw;
    }
    .navlinks{
        display: none;
    }
}
/* Small Tablets */
@media (min-width:768px) and (max-width: 991px){
    /* styles */
}
/* Large tablets/laptops */
@media (min-width:992px) and (max-width: 1199px){
    /* styles */
}
/* Desktops */
@media (min-width:1200px) and (max-width: 1919px){
    /* styles */
}
/* Extra large screens */
@media (min-width:1920px){
    /* styles */
}